-- æžšä¸¾ç±»åž‹
CREATE TYPE public.user_role AS ENUM ('staff', 'driver');
CREATE TYPE public.order_type AS ENUM ('delivery', 'pickup', 'swap', 'material');
CREATE TYPE public.bin_size AS ENUM ('14', '20', '40');
CREATE TYPE public.time_window AS ENUM ('AM', 'PM', '7-9', 'custom');
CREATE TYPE public.order_status AS ENUM ('pending', 'assigned', 'in_progress', 'done', 'cancelled');
CREATE TYPE public.bin_status AS ENUM ('depot', 'in_transit', 'on_site', 'full');
CREATE TYPE public.vehicle_type AS ENUM ('HINO', 'MACK');
CREATE TYPE public.bin_event AS ENUM ('delivered', 'picked_up', 'swapped_out', 'swapped_in');
CREATE TYPE public.step_type AS ENUM ('depot_pickup', 'customer_delivery', 'customer_pickup', 'dump_site');
CREATE TYPE public.step_status AS ENUM ('locked', 'pending', 'in_progress', 'done');

-- ç”¨æˆ·æ¡£æ¡ˆ
CREATE TABLE public.profiles (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  email TEXT,
  name TEXT NOT NULL,
  role public.user_role NOT NULL DEFAULT 'driver',
  phone TEXT,
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMPTZ DEFAULT now()
);

-- è½¦è¾†
CREATE TABLE public.vehicles (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  name TEXT NOT NULL,
  type public.vehicle_type NOT NULL,
  plate TEXT UNIQUE NOT NULL,
  samsara_id TEXT,
  max_bin_size public.bin_size,
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMPTZ DEFAULT now()
);

-- æ¡¶
CREATE TABLE public.bins (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  bin_number TEXT UNIQUE NOT NULL,
  size public.bin_size NOT NULL,
  status public.bin_status DEFAULT 'depot',
  current_order_id UUID,
  current_address TEXT,
  last_moved_at TIMESTAMPTZ DEFAULT now(),
  notes TEXT,
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMPTZ DEFAULT now()
);

-- è®¢å•
CREATE TABLE public.orders (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  order_number TEXT UNIQUE NOT NULL,
  type public.order_type NOT NULL,
  bin_size public.bin_size,
  service_date DATE NOT NULL,
  time_window public.time_window NOT NULL,
  time_window_custom TEXT,
  address TEXT NOT NULL,
  customer_name TEXT NOT NULL,
  customer_phone TEXT NOT NULL,
  customer_notes TEXT,
  status public.order_status DEFAULT 'pending',
  netsuite_order_id TEXT,
  created_by UUID,
  created_at TIMESTAMPTZ DEFAULT now(),
  updated_at TIMESTAMPTZ DEFAULT now()
);

-- æŽ’ç­
CREATE TABLE public.dispatch_assignments (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  order_id UUID REFERENCES public.orders(id) ON DELETE CASCADE NOT NULL,
  driver_id UUID REFERENCES public.profiles(id) NOT NULL,
  vehicle_id UUID REFERENCES public.vehicles(id) NOT NULL,
  bin_id UUID REFERENCES public.bins(id),
  scheduled_date DATE NOT NULL,
  sequence INT NOT NULL DEFAULT 1,
  dispatch_notes TEXT,
  created_at TIMESTAMPTZ DEFAULT now()
);

-- ä»»åŠ¡æ­¥éª¤
CREATE TABLE public.job_steps (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  assignment_id UUID REFERENCES public.dispatch_assignments(id) ON DELETE CASCADE NOT NULL,
  step_number INT NOT NULL,
  step_type public.step_type NOT NULL,
  location TEXT NOT NULL,
  status public.step_status DEFAULT 'locked',
  requires_photo BOOLEAN DEFAULT true,
  requires_bin_number BOOLEAN DEFAULT false,
  requires_weigh_ticket BOOLEAN DEFAULT false,
  requires_weight BOOLEAN DEFAULT false,
  photo_url TEXT,
  bin_number_reported TEXT,
  old_bin_number_reported TEXT,
  weigh_ticket_url TEXT,
  weight_kg NUMERIC,
  dump_site TEXT,
  completed_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ DEFAULT now()
);

-- æ¡¶åŽ†å²
CREATE TABLE public.bin_history (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  bin_id UUID REFERENCES public.bins(id) ON DELETE CASCADE NOT NULL,
  order_id UUID REFERENCES public.orders(id) ON DELETE SET NULL,
  event public.bin_event NOT NULL,
  from_location TEXT,
  to_location TEXT,
  recorded_at TIMESTAMPTZ DEFAULT now()
);

-- å¯ç”¨ RLS
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.vehicles ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.bins ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.orders ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.dispatch_assignments ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.job_steps ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.bin_history ENABLE ROW LEVEL SECURITY;

-- é¦–ç‰ˆç­–ç•¥:å…¨éƒ¨å…¬å¼€è¯»å†™(staff ç«¯æ— ç™»å½•,driver ç«¯å…±äº«è´¦å·)
-- ä¸Šçº¿å‰éœ€è¦æ”¶ç´§
CREATE POLICY "open_all" ON public.profiles FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "open_all" ON public.vehicles FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "open_all" ON public.bins FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "open_all" ON public.orders FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "open_all" ON public.dispatch_assignments FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "open_all" ON public.job_steps FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "open_all" ON public.bin_history FOR ALL USING (true) WITH CHECK (true);

-- è‡ªåŠ¨ç”Ÿæˆè®¢å•å· KD-YYYYMMDD-XXX
CREATE OR REPLACE FUNCTION public.generate_order_number(svc_date DATE)
RETURNS TEXT
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  date_str TEXT;
  next_seq INT;
  new_number TEXT;
BEGIN
  date_str := to_char(svc_date, 'YYYYMMDD');
  SELECT COALESCE(MAX(CAST(split_part(order_number, '-', 3) AS INT)), 0) + 1
    INTO next_seq
  FROM public.orders
  WHERE order_number LIKE 'KD-' || date_str || '-%';
  new_number := 'KD-' || date_str || '-' || lpad(next_seq::TEXT, 3, '0');
  RETURN new_number;
END;
$$;

-- è§¦å‘å™¨:è®¢å•æ’å…¥æ—¶è‡ªåŠ¨å¡«è®¢å•å·
CREATE OR REPLACE FUNCTION public.set_order_number()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  IF NEW.order_number IS NULL OR NEW.order_number = '' THEN
    NEW.order_number := public.generate_order_number(NEW.service_date);
  END IF;
  RETURN NEW;
END;
$$;

CREATE TRIGGER orders_set_order_number
BEFORE INSERT ON public.orders
FOR EACH ROW EXECUTE FUNCTION public.set_order_number();

-- è§¦å‘å™¨:dispatch_assignment åˆ›å»ºåŽè‡ªåŠ¨ç”Ÿæˆ job_steps
CREATE OR REPLACE FUNCTION public.create_job_steps_for_assignment()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  o public.orders%ROWTYPE;
  depot_addr TEXT := 'Kennedy Depot, 3445 Kennedy Rd';
BEGIN
  SELECT * INTO o FROM public.orders WHERE id = NEW.order_id;

  IF o.type = 'delivery' THEN
    INSERT INTO public.job_steps (assignment_id, step_number, step_type, location, status, requires_photo, requires_bin_number)
    VALUES
      (NEW.id, 1, 'depot_pickup', depot_addr, 'pending', true, true),
      (NEW.id, 2, 'customer_delivery', o.address, 'locked', true, true);

  ELSIF o.type = 'pickup' THEN
    INSERT INTO public.job_steps (assignment_id, step_number, step_type, location, status, requires_photo, requires_bin_number, requires_weigh_ticket, requires_weight)
    VALUES
      (NEW.id, 1, 'customer_pickup', o.address, 'pending', true, true, false, false),
      (NEW.id, 2, 'dump_site', 'åžƒåœ¾åœº(å¸æœºå¡«å†™)', 'locked', true, false, true, true);

  ELSIF o.type = 'swap' THEN
    INSERT INTO public.job_steps (assignment_id, step_number, step_type, location, status, requires_photo, requires_bin_number, requires_weigh_ticket, requires_weight)
    VALUES
      (NEW.id, 1, 'depot_pickup', depot_addr, 'pending', true, true, false, false),
      (NEW.id, 2, 'customer_delivery', o.address, 'locked', true, true, false, false),
      (NEW.id, 3, 'dump_site', 'åžƒåœ¾åœº(å¸æœºå¡«å†™)', 'locked', true, false, true, true);

  ELSIF o.type = 'material' THEN
    INSERT INTO public.job_steps (assignment_id, step_number, step_type, location, status, requires_photo)
    VALUES
      (NEW.id, 1, 'depot_pickup', depot_addr, 'pending', true),
      (NEW.id, 2, 'customer_delivery', o.address, 'locked', true);
  END IF;

  -- åŒæ­¥è®¢å•çŠ¶æ€
  UPDATE public.orders SET status = 'assigned', updated_at = now() WHERE id = NEW.order_id;

  RETURN NEW;
END;
$$;

CREATE TRIGGER assignments_create_steps
AFTER INSERT ON public.dispatch_assignments
FOR EACH ROW EXECUTE FUNCTION public.create_job_steps_for_assignment();

-- æ­¥éª¤å®Œæˆæ—¶è”åŠ¨:è§£é”ä¸‹ä¸€æ­¥ã€æ›´æ–°è®¢å•çŠ¶æ€ã€æ›´æ–°æ¡¶çŠ¶æ€ã€å†™åŽ†å²
CREATE OR REPLACE FUNCTION public.on_step_completed()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  asg public.dispatch_assignments%ROWTYPE;
  o public.orders%ROWTYPE;
  next_step UUID;
  remaining INT;
  bn TEXT;
  old_bn TEXT;
BEGIN
  IF NEW.status = 'done' AND (OLD.status IS DISTINCT FROM 'done') THEN
    NEW.completed_at := now();
    SELECT * INTO asg FROM public.dispatch_assignments WHERE id = NEW.assignment_id;
    SELECT * INTO o FROM public.orders WHERE id = asg.order_id;

    -- è§£é”ä¸‹ä¸€æ­¥
    SELECT id INTO next_step
    FROM public.job_steps
    WHERE assignment_id = NEW.assignment_id AND step_number = NEW.step_number + 1;
    IF next_step IS NOT NULL THEN
      UPDATE public.job_steps SET status = 'pending' WHERE id = next_step;
    END IF;

    -- æ¡¶çŠ¶æ€è”åŠ¨
    bn := NEW.bin_number_reported;
    old_bn := NEW.old_bin_number_reported;

    IF NEW.step_type = 'depot_pickup' AND bn IS NOT NULL THEN
      UPDATE public.bins
        SET status = 'in_transit', current_order_id = asg.order_id, last_moved_at = now()
        WHERE bin_number = bn;
    ELSIF NEW.step_type = 'customer_delivery' AND bn IS NOT NULL THEN
      UPDATE public.bins
        SET status = 'on_site', current_order_id = asg.order_id, current_address = o.address, last_moved_at = now()
        WHERE bin_number = bn;
      INSERT INTO public.bin_history (bin_id, order_id, event, from_location, to_location)
      SELECT id, asg.order_id, 'delivered', 'Kennedy Depot', o.address FROM public.bins WHERE bin_number = bn;

      -- swap:åŒæ—¶å–èµ°æ—§æ¡¶
      IF o.type = 'swap' AND old_bn IS NOT NULL THEN
        UPDATE public.bins
          SET status = 'in_transit', current_address = NULL, last_moved_at = now()
          WHERE bin_number = old_bn;
        INSERT INTO public.bin_history (bin_id, order_id, event, from_location, to_location)
        SELECT id, asg.order_id, 'swapped_out', o.address, 'In transit' FROM public.bins WHERE bin_number = old_bn;
      END IF;

    ELSIF NEW.step_type = 'customer_pickup' AND bn IS NOT NULL THEN
      UPDATE public.bins
        SET status = 'in_transit', current_address = NULL, last_moved_at = now()
        WHERE bin_number = bn;
      INSERT INTO public.bin_history (bin_id, order_id, event, from_location, to_location)
      SELECT id, asg.order_id, 'picked_up', o.address, 'In transit' FROM public.bins WHERE bin_number = bn;

    ELSIF NEW.step_type = 'dump_site' THEN
      -- æŠŠè¿™ä¸ª assignment å½“å‰åœ¨è·¯ä¸Šçš„æ¡¶éƒ½å½’åº“
      UPDATE public.bins b
        SET status = 'depot', current_order_id = NULL, current_address = NULL, last_moved_at = now()
        WHERE b.current_order_id = asg.order_id AND b.status = 'in_transit';
    END IF;

    -- æ£€æŸ¥è®¢å•æ˜¯å¦å®Œæˆ
    SELECT COUNT(*) INTO remaining
      FROM public.job_steps
      WHERE assignment_id = NEW.assignment_id AND status <> 'done' AND id <> NEW.id;
    IF remaining = 0 THEN
      UPDATE public.orders SET status = 'done', updated_at = now() WHERE id = asg.order_id;
    ELSE
      UPDATE public.orders SET status = 'in_progress', updated_at = now() WHERE id = asg.order_id;
    END IF;
  END IF;

  RETURN NEW;
END;
$$;

CREATE TRIGGER job_steps_on_completed
BEFORE UPDATE ON public.job_steps
FOR EACH ROW EXECUTE FUNCTION public.on_step_completed();

-- åˆ›å»º storage bucket ç”¨äºŽå¸æœºä¸Šä¼ ç…§ç‰‡å’Œç£…å•
INSERT INTO storage.buckets (id, name, public)
VALUES ('driver-uploads', 'driver-uploads', true)
ON CONFLICT (id) DO NOTHING;

CREATE POLICY "uploads_public_read" ON storage.objects FOR SELECT USING (bucket_id = 'driver-uploads');
CREATE POLICY "uploads_anyone_insert" ON storage.objects FOR INSERT WITH CHECK (bucket_id = 'driver-uploads');
CREATE POLICY "uploads_anyone_update" ON storage.objects FOR UPDATE USING (bucket_id = 'driver-uploads');
UPDATE auth.users SET email_confirmed_at = now() WHERE email = 'driver@kennedy.test' AND email_confirmed_at IS NULL;
-- é‡ç½®æµ‹è¯•å¸æœºè´¦å·å¯†ç å¹¶ç¡®è®¤é‚®ç®±
UPDATE auth.users
SET 
  encrypted_password = crypt('driver123', gen_salt('bf')),
  email_confirmed_at = COALESCE(email_confirmed_at, now()),
  updated_at = now()
WHERE email = 'driver@kennedy.test';
-- ========== è§’è‰²ç³»ç»Ÿ ==========
CREATE TYPE public.app_role AS ENUM ('admin', 'dispatcher', 'driver');

CREATE TABLE public.user_roles (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  role public.app_role NOT NULL,
  created_at TIMESTAMPTZ DEFAULT now(),
  UNIQUE(user_id, role)
);

ALTER TABLE public.user_roles ENABLE ROW LEVEL SECURITY;

CREATE OR REPLACE FUNCTION public.has_role(_user_id UUID, _role public.app_role)
RETURNS BOOLEAN
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1 FROM public.user_roles
    WHERE user_id = _user_id AND role = _role
  )
$$;

-- é¦–ç‰ˆç­–ç•¥:ç™»å½•ç”¨æˆ·éƒ½å¯è¯»;åªæœ‰ admin å¯æ”¹
CREATE POLICY "any_auth_can_read" ON public.user_roles
  FOR SELECT USING (auth.uid() IS NOT NULL);
CREATE POLICY "admin_manage_roles" ON public.user_roles
  FOR ALL USING (public.has_role(auth.uid(), 'admin'))
  WITH CHECK (public.has_role(auth.uid(), 'admin'));

-- ========== å¸æœºä½ç½® ==========
CREATE TABLE public.driver_locations (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  driver_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE NOT NULL,
  vehicle_id UUID REFERENCES public.vehicles(id),
  lat NUMERIC(10, 7) NOT NULL,
  lng NUMERIC(10, 7) NOT NULL,
  speed_kmh NUMERIC(6, 2),
  heading NUMERIC(5, 2),
  recorded_at TIMESTAMPTZ DEFAULT now()
);

CREATE INDEX idx_driver_loc_driver_time ON public.driver_locations(driver_id, recorded_at DESC);

ALTER TABLE public.driver_locations ENABLE ROW LEVEL SECURITY;
CREATE POLICY "open_all" ON public.driver_locations FOR ALL USING (true) WITH CHECK (true);

-- ========== å®¡è®¡æ—¥å¿— ==========
CREATE TABLE public.audit_logs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  actor_id UUID,
  actor_name TEXT,
  actor_role TEXT,
  action TEXT NOT NULL,
  entity_type TEXT NOT NULL,
  entity_id TEXT,
  entity_label TEXT,
  details JSONB,
  recorded_at TIMESTAMPTZ DEFAULT now()
);

CREATE INDEX idx_audit_recorded ON public.audit_logs(recorded_at DESC);
CREATE INDEX idx_audit_entity ON public.audit_logs(entity_type, entity_id);

ALTER TABLE public.audit_logs ENABLE ROW LEVEL SECURITY;
CREATE POLICY "open_all" ON public.audit_logs FOR ALL USING (true) WITH CHECK (true);

-- ========== å¸æœºæ¡£æ¡ˆç»‘å®š auth è´¦å· ==========
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS auth_user_id UUID UNIQUE REFERENCES auth.users(id) ON DELETE SET NULL;
CREATE INDEX IF NOT EXISTS idx_profiles_auth_user ON public.profiles(auth_user_id);

-- ========== è‡ªåŠ¨å†™å…¥ç™»å½•å¸æœºçš„ auth_user_id ==========
-- å½“ä¸€ä¸ªå¸æœºç”¨æŸä¸ªé‚®ç®±ç™»å½•æ—¶,å¦‚æžœ profile é‡Œ email åŒ¹é…ä¸” auth_user_id ä¸ºç©º,è‡ªåŠ¨ç»‘å®š
CREATE OR REPLACE FUNCTION public.bind_driver_auth_on_login()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, auth
AS $$
BEGIN
  UPDATE public.profiles
    SET auth_user_id = NEW.id
    WHERE email = NEW.email AND auth_user_id IS NULL;
  RETURN NEW;
END;
$$;

DROP TRIGGER IF EXISTS on_auth_user_created_bind_driver ON auth.users;
CREATE TRIGGER on_auth_user_created_bind_driver
AFTER INSERT ON auth.users
FOR EACH ROW EXECUTE FUNCTION public.bind_driver_auth_on_login();
