@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    
    /* 使用 HSL 格式 */
    --background: 240 10% 98%;
    --foreground: 250 30% 18%;
    --card: 0 0% 100%;
    --card-foreground: 250 30% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 250 30% 18%;
    --primary: 255 60% 45%;
    --primary-foreground: 0 0% 99%;
    --secondary: 245 20% 96%;
    --secondary-foreground: 255 40% 25%;
    --muted: 245 20% 96%;
    --muted-foreground: 250 20% 50%;
    --accent: 250 30% 94%;
    --accent-foreground: 255 40% 25%;
    --destructive: 27 80% 58%;
    --destructive-foreground: 0 0% 99%;
    --border: 250 20% 91%;
    --input: 250 20% 91%;
    --ring: 255 60% 55%;
    --sidebar: 258 60% 22%;
    --sidebar-foreground: 250 20% 92%;
    --sidebar-accent: 258 60% 32%;
    --sidebar-accent-foreground: 0 0% 99%;
    --sidebar-border: 258 60% 30%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
